<div class="p-4">
  <h1 class="text-xl font-bold mb-4">Filtrar por Categoría</h1>

  <!-- Botón para mostrar todas las tareas -->
  <button
    class="mb-2 rounded-lg px-4 py-2 w-full text-left"
    [class.bg-blue-500]="!selectedCategoryId"
    [class.text-white]="!selectedCategoryId"
    [class.bg-gray-100]="selectedCategoryId"
    [class.text-black]="selectedCategoryId"
    (click)="selectCategory()"
  >
    Todas
  </button>

  <!-- Lista de categorías -->
  <ul>
    <li *ngFor="let category of categories" class="mb-2">
      <button
        class="rounded-lg px-4 py-2 w-full text-left"
        [class.bg-blue-500]="selectedCategoryId === category.id"
        [class.text-white]="selectedCategoryId === category.id"
        [class.bg-gray-100]="selectedCategoryId !== category.id"
        [class.text-black]="selectedCategoryId !== category.id"
        (click)="selectCategory(category.id)"
      >
        {{ category.name }}
      </button>
    </li>
  </ul>
</div>
