<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-footer class="fixed bottom-0 w-full">
    <div class="flex justify-around bg-gray-100 p-4 border-t">
      <button
        class="flex flex-col items-center text-gray-700"
        [routerLink]="['/tasks']"
        routerLinkActive="text-blue-500"
      >
        <ion-icon name="list-outline" class="text-2xl"></ion-icon>
        <span class="text-sm">Tareas</span>
      </button>
      <button
        class="flex flex-col items-center text-gray-700"
        [routerLink]="['/categories']"
        routerLinkActive="text-blue-500"
      >
        <ion-icon name="folder-outline" class="text-2xl"></ion-icon>
        <span class="text-sm">Categorías</span>
      </button>
    </div>
  </ion-footer>
</ion-app>
